@import '_main.scss';

body {
  overscroll-behavior: none;
  background-image: url(https://pm1.aminoapps.com/6286/f7e290f76951baf411adb1801dd8b023b3eb94e9_hq.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#pop-toast-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
}